 <footer class="footer has-background-primary p-5">
        <div class="container">
            <div class="columns">
                <div class="column is-2 has-text-white">
                    © 2023 Controle de Chaves
                </div>
                <div class="column is-8"></div>
                <div class="column is-2 has-text-centered">
                    <span class="icon has-text-warning">
                        <i class="fab fa-facebook-square fa-2x mr-2"></i>
                        <i class="fab fa-twitter-square fa-2x mr-2"></i>
                        <i class="fab fa-instagram-square fa-2x mr-2"></i>
                    </span>
                </div>
            </div>
        </div>
    </footer>