<section class="section has-background-primary-light">
    <div class="container">
                <div class="level is-mobile">
                    <div class="level-item has-text-centered">
                        <div>
                             <p class="heading">Usuarios</p>
                            <p class="title">{{ qtd_usuarios }}</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                             <p class="heading">Funcionarios</p>
                            <p class="title">{{ qtd_funcionarios }}</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                             <p class="heading">Chaves</p>
                            <p class="title">{{ qtd_chaves }}</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Salas</p>
                            <p class="title">{{ qtd_salas }}</p>
                        </div>
                    </div>

                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Entregas</p>
                            <p class="title">{{ qtd_entregas }}</p>
                        </div>
                    </div>
                </div>
    </div>
</section>